
  body {
    font-family: 'Raleway', sans-serif;
    /*  line-height: 1.8;*/
      color: #000;
  }
  .row {
   margin-right:0px; 
   margin-left:0px; 
  
}
.col-xs-12

{padding-right:0px; 
  padding-left:0px;
}
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  
  
 .clear
 {
	 clear:both;
 
 } 
 
 .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9
 
 
 {
 padding-right:0px;
padding-left:0px;
 }
  .bg-1 { 
      background-color: #fff; 
      color: #1e1e1e;
	  text-align:left;
	  
  }
  .category
  { border:1px solid#dadada;
  padding:25px;
  }

 .phone 
  { 
  background:#cd0029;
padding-bottom:50px;
padding-left:10px;
padding-right:10px;
      padding-top: 110px
  }
  
  .phone p
  {
  color:#fff;

  text-align:center;
  }
  
  .social
  { padding-right:20px;
  padding-left:20px;
  }

 .about p{
 font-size:20px;
 }
  .bg-2 { 
      background-color: #fff; /* Dark Blue */
      color: #000;
  }
  .bg-3 { 
      background-color: #ffffff; /* White */
      color: #555555;
  }
  .bg-4 { 
      background-color: #a30021; /* Black Gray */
      color: #fff;
	  padding-top:30px;
	  padding-bottom:20px;
  }
 /***.container-fluid {
      padding-top: 40px;
      padding-bottom:40px;
  }*/
  .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
      color: #1abc9c !important;
  }
  .container-fluid {
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
}
  
  
  /***********search***********/
  
.addtocard {
    padding-top: 19px;
    padding-bottom: 19px;
    border-bottom: 1px solid #dadada;
}

.addtocard_Delivery {
    padding-top: 70px;
    padding-bottom: 35px;
    border-bottom: 1px solid #dadada;
}


.addtocard_background {
    padding-top: 19px;
    padding-bottom: 19px;
    border-bottom: 1px solid #dadada;
	background:#fff;
}

.flipkart-navbar-input {
    padding: 11px 16px;
    border-radius: 2px 0 0 2px;
    border: 0 none;
    outline: 0 none;
    font-size: 15px;
}

.flipkart-navbar-button {
    background-color: #cd0029;
    border: 1px solid #fff;
    border-radius: 0 2px 2px 0;
    color: #565656;
    padding: 10px 0;
    height: 43px;
    cursor: pointer;
}

 /*********home page**********/
  
  
  .top-logo
  { background:#cd0029;
  padding-top:15px;
  padding-bottom:15px;
  }

   .social 
  {
  float:left;
padding-top:17px;
  }
  
.Browse
  
  {
	  color:#000;
	  padding-bottom:33px;
	  padding-top:90px;
  }
  
    .topimg 
  { 
   
  padding:5px;
      border: 1px solid#c6c6c6;
	  margin:-1px -1px 0 0;
  }
  


 
  .topimg  img{
	  
	  padding:10px 0;
  }
  .topimg p
  {
  color:#000;
     padding-bottom: 20px;
  text-align:center;
  }
  .topimg-right
  {
	    border-right: 1px solid#c6c6c6; 
  }
  
    .topimg-new
  { 
   
  padding:5px;
      border: 1px solid#c6c6c6;
	  border-right:none;
  }
  
  .topimg-new  img{
	  
	  padding:10px 0;
  }
  .topimg-new p
  {
  color:#000;
     padding-bottom: 20px;
  text-align:center;
  }
  
 
  
  .Music
  {
	  /*border-bottom:1px solid#c6c6c6;*/
	  margin-bottom: 70px;
  }
  /*.Guitars
  {
	border-top:1px solid#c6c6c6;
	border-bottom:1px solid#c6c6c6;
  }*/
  
    .Guitars1
  {
	
	border-bottom:1px solid#c6c6c6;
  }
    .instruments p
  {
  font-size:35px;
  color:#000;
  }
  
     .Drums_and_bass p
  {
  font-size:35px;
  color:#000;
  }
      .Drums_Percussion p
  {
  font-size:35px;
  color:#000;
  text-align:center;
  }
  .instruments-top
  {
	  padding-top: 90px;
	  padding-bottom:22px;
	  
  }
  
    
  .flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
	width: 100%;
    height: auto;
}
  .Electric
  {
  margin-bottom: 20px;	
  }
  .box-left{
border: 1px solid #dadada;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    width: 49%;
    margin-right: 1%
  }
  .box-left p{
	  
	  padding-bottom:20px;
  }

  .box-right{
border: 1px solid #dadada;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    width: 49%;
    margin-left: 1%
  }
  
    .video
  { padding-top:70px;
  padding-bottom:75px;
  }
  .Accessories
  {
	  padding-bottom:22px;
  }
  
  .delivery
  {
	  padding-top:70px;
	  padding-bottom:73px;
	     
  }
 
 .find-stores
 {
	 padding-bottom:70px;
 }
 .blog
 {
	 padding-top:80px;
	 padding-bottom:60px;
 }
 .about-bottom
 {
	 padding-left:35px;
 }
 .furtados
 {
	  padding-right:30px;
 }
   .about{
  background-color:#cd0029;
  padding-top:60px;
  padding-bottom:70px;
      color: #fff;
  }
  span{
  color:#cb0129;
    font-weight: bold;
  }
  .text{
  text-decoration: line-through;
  color:#666666;
      text-align: center;
  }
  .Pearl_Drum-text
  {
	  font-size:24px;
  }
  .Pearl_Drum-text_home
  {
	  font-size:28px;
  }
.view
{
	padding:5px;border:1px solid #dadada; text-align:center;color:#fff;
   background:#cd0029;border-radius:5px;
       text-shadow: 1px 1px 1px #000;
}


.add_to_card
{
	padding:5px;border:1px solid #dadada; text-align:center;color:#fff;
   background:#cd0029;border-radius:5px;
       text-shadow: 1px 1px 1px #000;
}

.add_to_card_color
{
	padding:5px;border:1px solid #dadada; text-align:center;color:#fff;
   background:#a3a3a3;border-radius:5px;
       text-shadow: 1px 1px 1px #000;
}
.grad1 {

    background: -webkit-linear-gradient(red, #e08295); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(red, #e08295); /* For Opera 11.1 to 12.0 */
	
	padding:5px;border:1px solid #dadada; text-align:center;color:#fff;
  border-radius:5px;
       text-shadow: 1px 1px 1px #000;  
}

.move_to
{
	padding:5px;border:1px solid #dadada; text-align:center;color:#000;
 border-radius:5px;text-transform: uppercase;
       
}


/***********product detail********************/

.short-product
{
	    border: 1px solid #838383;
		color: #000;
		padding-top: 25px;
		padding-bottom: 25px;
		text-align:center;
		margin-bottom:50px;
}
.filter
{
	 border: 1px solid #838383;
	color: #000;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align:center;
		margin-bottom:50px;
   
}


/***********product detail********************/

.add-to-car
{
	    border: 1px solid #838383;
 
    color: #000;
    padding-top: 10px;
    padding-bottom: 10px;
	    margin-top: 50px;
  text-align:center;
    
}
.Change_Address
{
	    border: 1px solid #838383;
	color: #000;
    padding-top: 20px;
    padding-bottom: 20px;
  text-align:center;
    
}
.buy-now
{
	    border: 1px solid #cd0029;
 background:#cd0029;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
	    margin-top: 50px;
    text-align:center;
   
}

.Place_Order
{
	    border: 1px solid #cd0029;
 background:#cd0029;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align:center;
   
}

.Place_Order a
{
	    border: 1px solid #cd0029;
 background:#cd0029;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align:center;
   
}

.Product-details
{
	border: 1px solid #838383;
	color: #cd0029;
    padding-top: 10px;
    padding-bottom: 10px;
	text-align:center;
	border-left:none;
	border-right:none;
	margin-bottom:50px;
}

.Specifications
{
	border: 1px solid #838383;
	color: #838383;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align:center;
	border-right:none;
	margin-bottom:50px;
}

.pin
{
	color:#cd0029;
}

.available
{
	color:#2d901c;
	font-size:bold;
	padding-top:20px;
	padding-bottom:0px;
}
.available_1
{
	color:#000;
	font-size:bold;
    border-top: 30px solid #f2f2f2;
	padding-top:30px;
	padding-bottom:30px;
	
}

.available_Save_Address
{
	color:#000;
	font-size:bold;
   background: #f2f2f2;
	padding-top:20px;
	padding-bottom:20px;
	
	
}
.available_Save_Address p{
	float:right;
	color:#2d8f1f;
	font-size:bold;
}

.available_Total_Price
{
	 background: #f2f2f2;
	
	padding-bottom:40px;
	
}

.Delivery 
{
	padding-top:0px;
	padding-bottom:0px;
}
.emi
{
	padding-bottom:20px;
	padding-top:10px;
}

.emi_1
{
	padding-bottom:20px;
	padding-top:20px;
	border-top:1px solid #eeeeee;
}
.emi_bottom
{
	padding-bottom:20px;
	padding-top:20px;
	border-top:1px solid #eeeeee;
	border-bottom:1px solid #eeeeee;

}
.container-fluid-text
{
	padding-top:40px;
	padding-bottom:0px;
	    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

 .container-fluids {
      padding-top: 0px;
      padding-bottom:0px;
	      padding-right: 15px;
    padding-left: 15px;
  }
  .short
  {
	  padding:0px;
	  padding-bottom:0px;
  }
  
  .Description
  {
	  margin-bottom:50px;
  }
  .Similar-products
  {
	  border-top:1px solid #dadada;
	  padding-top:60px;
	  padding-bottom:22px;
  }
  .Reviews
  {
	  padding-top:70px;
	  border-bottom:1px solid #dadada;
  }
  .Reviews H4
  {
	  font-size:22px;
  }
  .Reviews p{
	   color:#444444;
	   padding-bottom:80px;
  }
   .Reviews-Jetendra
  {
	  padding-bottom:54px;
  }
  .rating > span:hover:before {
   content: "\2605";
   position: absolute;
}
  .rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}
  .rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}
.rating
{
	padding-top:40px;
	padding-bottom:12px;
}
.More-Reviews
{
	padding-top:40px;
		padding-bottom:124px;
}
.Mapex
{
	font-size:34px;
}
.img-reviews
{
	padding-top:40px;
	padding-bottom:44px;
}
.find-stores-Detail
{
	padding-top:100px;
}

/***********------sort popup-----------********/
.left_sele .radio_in_info li:last-child{margin-top:25px;}
  .radio_in_info						{}
.radio_in_info li					{margin-bottom:12px; font-size:13px; line-height:18px;}

input[type=radio].css-checkbox_ra {
    position: absolute;
    z-index: -1000;
    left: -1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}
input[type="radio"], input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
}

input[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

input, button, select, textarea {
   font-family: 'Open Sans', sans-serif;
    font-size: inherit;
    line-height: inherit;
}
.select_changes_n input.css-checkbox_ra[type="radio"] + label.css-label_ra {
    padding-left: 30px;
    font-size: 13px;
}

input[type=radio].css-checkbox_ra + label.css-label_ra {
    padding-left: 18px;
    height: 22px;
    display: inline-block;
    line-height: 17px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 13px;
    vertical-align: middle;
    cursor: pointer;
}

label.css-label_ra {
    background-image: url(../img/radio_2.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.select_changes_n input.css-checkbox_ra[type="radio"] + label.css-label_ra {
    padding-left: 30px;
    font-size: 13px;
}

input[type=radio].css-checkbox_ra + label.css-label_ra {padding-left:18px; height:22px; display:inline-block;	line-height:17px; background-repeat:no-repeat; background-position: 0 0; font-size:13px; vertical-align:middle; cursor:pointer; }


input[type=radio].css-checkbox_ra:checked + label.css-label_ra {background-position: 0 -23px;}

.select_changes_n input.css-checkbox_ra[type="radio"] + label.css-label_ra{padding-left:30px; font-size:13px;}

input[type=radio].css-checkbox_ra + label.css-label_ra {padding-left:40px; height:22px; display:inline-block;	line-height:17px; background-repeat:no-repeat; background-position: 0 0; font-size:13px; vertical-align:middle; cursor:pointer; }

input[type=radio].css-checkbox_ra:checked + label.css-label_ra {background-position: 0 -23px;}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
.select_changes_n input.css-checkbox_ra[type="radio"] + label.css-label_ra {
    padding-left: 30px;
    font-size: 13px;
}
/***********end***********/

.shipping 
{
	padding-top:40px;
	padding-bottom:40px;
	padding-right:20px;
	padding-left:26px;
}

table {
    border-collapse: collapse;
    width: 100%;
	
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border-right:1px solid #ddd;
}

  /*****menu******/
  
  .about-menu
  {
	  
	  color:#000;

	  border-top:1px solid #dadada;
  }
  
     .phone-menu
  { 
  background:#cd0029;
padding-bottom:30px;
padding-left:10px;
padding-right:10px;
      padding-top: 30px;
	 
  }
  .Follow
  
  {
	  border-top:1px solid #dadada;
	  margin-top:50px;
	      padding-top: 30px;
    padding-bottom: 20px;
  }
  
  .wap
  {
	padding-top: 20px;
    background: #f2f2f2;
  }
  
  /***********contact ***************/
  
  .header-search form {
    position: relative;
}
.header-search input[type="search"] {
    width: 100%;
    padding: 1em 5em 1em 1em;
    font-size: 1em;
    color: #000;
    outline: none;
    border: 1px solid #cccccc;
    background: none;
    -webkit-appearance: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
}
 .header-search input[type="search"]:focus {
    border-color: #f44336;
}
.header-search .btn-default {
    border: none;
  position: absolute;
    top: 0px;
    right: 0px;
    width: 60px;
    height: 52px;
    outline: none;
    box-shadow: none;
    background: #cd0029;
    padding: 0;
    border-radius: inherit;
    -webkit-appearance: none;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
	margin: 2px;
}
.header-search i.fa {
    font-size: 1em;
    color: #fff;
    padding: 3px;
} 
.header-cart h4 a {
    color: #000;
}
.header-search {
    float: left;
    width: 100%;
    text-align: center;

}
.form 
{
	padding-top:60px;
	padding-bottom:60px;
}
.form h3
{
	color:#000;
	text-align:center;
}

.ab-text p {
    font-weight: 400;
    line-height: 1.9em;
    margin-bottom: 4%;
    margin-top: 3%;
    font-size: 0.9em;
    color: #777;
}
ul.ab {
    padding: 0 0 0 1em;
}
ul.ab li {
    list-style-type: none;
    padding-left: 3em;
    background: url(../img/icon/img-sp.png) no-repeat -0px 4px;
    margin: 0 0 1em;
}
ul.ab li a {
    color: #777;
    font-weight: 400;
    line-height: 2em;
    font-size: 0.9em;
}
.Door_delivery
{
	font-size:20px;
	
}
.Door_delivery_home
{
	font-size:20px;
	padding-right:20px;
	
}
.delivery_free
{
	font-size:18px;
	font-weight:500;
	color:#2d8f1f;
}
.change_address
{
	padding-top:65px;
	color:#cc0028;
	padding-left: 58px;
	font-size: 24px;
	
}
/******************F_Categories_Menu**********/

.close img
{
	float:right;
	padding-top:40px;
}

.Browse_menu
  
  {
	  color:#000;
	  padding-bottom:33px;
	  padding-top:90px;
	  text-align:center;
  }
  .Pearl_Drum_border {
    border-right: 2px solid #dadada;
}
  .Checkout 
  {
	  font-size:30px;  
  }

  .Payment
  {
	  font-size:24px;
  }
  
  .Favourite_list
  
  {
	  font-size:30px;
	      color: #fff;  
  }
  
   .Favourite_list_delivery
  
  {
	  font-size:30px;
	      color: #fff;  
  }
  
  .delivery-back
  {
	      padding-left: 16px;
  }
  
  .Favourite
  {
	  background:#f2f2f2;
	  color:#000;
  }
  
  .Pearl
  {
	  padding-top:40px;
	  padding-bottom:40px;
	      border-bottom: 1px solid #e6e6e6;
  }
  
   .Pearl_Drum p
  {
	
	  padding-bottom:10px;
	  text-align:left;
  }
     .Pearl_Drum span
  {
	font-family:bold;
	  padding-bottom:20px;
	  text-align:left !important;
	  color:#000;
  }
  
  .amount
  {
	  font-size:20px;
  }
  
  .stock
  {
	  font-size:18px;
	  color:#2d8f1f;
  }
  .stock_delivery
  {
	   font-size:18px;
	  color:#2d8f1f;
  }
    .out_stock
  {
	  font-size:18px;
	  color:#cc0028;
  }
  .delete img
  {
	  
	 float:right; 
  }
  .item
  {
	  padding:5px;border:1px solid #dadada; text-align:center;
  }
  .Drums_and_bass_top
  {
	  padding-bottom:50px;
  }


  .agile_top_brand_left_grid_pos_new {
    position: absolute;
    top: 0%;
   /* right: 0%;*/
	
}

.agile_top_brand_left_grid_pos_new img
{
	padding-left:10px;
	padding-top:10px;
}
  .agile_top_brand_left_grid_pos {
    position: absolute;
    top: 0%;
   /* right: 0%;*/
	
}


  
  select
  {
	      margin: 0em 0px 1em 0px !important;
  }
  
  
.reg bdo {
    float: left;
    margin-bottom: 10px;
    position: relative;
    width: 50%;
}
.reg bdo input[type="radio"] {
    cursor: pointer;
    opacity: 0;
    position: relative;
    z-index: 999996;
}
.reg bdo span {
    border: 1px solid red;
    border-radius: 100%;
   /* background: rgba(0, 0, 0, 0) url("../images/radio_btn.png") no-repeat scroll center bottom;*/
    cursor: pointer;
    left: -2px;
    padding: 20px;
    position: absolute;
    top: 5px;
    z-index: 0;
}
.reg bdo span:hover {
    border: 1px solid black;
   /* background: rgba(0, 0, 0, 0) url("../images/radio_btn_ho.png") no-repeat scroll center bottom;*/
}
.reg bdo input[type="radio"]:checked + span {
   /* background: rgba(0, 0, 0, 0) url("../images/radio_btn_ho.png") no-repeat scroll center bottom;*/
}
.reg bdo input[type="radio"]:checked + span::after {
    background: #000 none repeat scroll 0 0;
    border-radius: 100%;
    bottom: 0;
    content: " ";
    height: 8px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 8px;
	
}
.reg bdo input[type=checkbox], input[type=radio]
{
	margin: 19px 33px 0 15px;
}
  
  /****************new css add*************/
  
  .checkbox-custom
  
  {
	  width:25px;
	  height:25px;
	  
  }
  
  
  /***add to card js css**/
  
  .top-brands h2,.newproducts-w3agile h3,.login h2,.register h2,.faq-w3agile h3,.brands h3{
	text-align:center;
	color:#212121;
	padding-bottom:.5em;
	position:relative;
	font-size: 2.5em;
	text-transform: uppercase;
}
.top-brands h2:after,.newproducts-w3agile h3:after,.login h2:after,.register h2:after,.faq-w3agile h3:after,.brands h3:after{
	content: '';
    background: #3399cc;
    height: 2px;
    width: 15%;
    position: absolute;
    bottom: 0%;
    left: 43%;
}
  .top-brands{
   
	padding:5em 0;
}
.grid_3.grid_5 {
    margin-top: 5em;
	/*border: 1px solid #BEBEBE;*/
}
.grid_3.grid_5 h5 {
    font-size: 20px;
    color: #000;
    margin-bottom: 16px;
}

div#myTabContent {
    padding: 40px 40px;
}

.nav-tabs > li {
    width: 50%;
}
.nav-tabs>li>a {
	margin: 0 0px;
	padding: 10px 53px;
	line-height: 1.42857143;
	font-size: 20px;
	text-align:center;
	text-transform:uppercase;
	font-weight: 600;
	border: 1px solid #000;
	border-radius: 0px 0px 0 0;
	color: #016773;
}
.nav-tabs>li>a:hover, .nav>li>a:focus {
	text-decoration: none;
	background: #cd0029;
	color: #FFF;
	border:  0px solid transparent;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #FFF;
    background: #cd0029;
	border:  1px solid #cd0029;
}
.nav-tabs {
    border-bottom: 1px solid #fff;
}


.nav-tabs1 > li {
    width: 50%;
}
.nav-tabs1>li>a {
	margin: 0 0px;
	padding: 10px 53px;
	line-height: 1.42857143;
	font-size: 20px;
	text-align:center;
	text-transform:uppercase;
	font-weight: 600;
	border: 1px solid #dadada;
	border-radius: 0px 0px 0 0;
	color: #000;
}
.nav-tabs1>li>a:hover, .nav1>li>a:focus {
	text-decoration: none;
	background: #cd0029;
	color: #FFF;
	border:  0px solid transparent;
}
.nav-tabs1>li.active>a, .nav-tabs1>li.active>a:hover, .nav-tabs1>li.active>a:focus {
    color: #fff;
    background: #cd0029;
	border:  1px solid #dadada;
	   
}
.nav-tabs1 {
    border-bottom: 1px solid #fff;
}



.nav-tabs1 > li {
    width: 50%;
}

.nav-tabs1>li {
    float: left;
    margin-bottom: -1px;
}

.nav1>li {
    position: relative;
    display: block;
}


/*-----start-responsive-design------*/
@media (max-width:1680px){
}
@media (max-width:1600px){
}
@media (max-width:1440px){
}
@media (max-width:1366px){
}
@media (max-width: 1280px){
}
@media (max-width: 1080px){
	
	.top-brands h2, .newproducts-w3agile h3, .login h2, .register h2, .faq-w3agile h3, .brands h3 {
    font-size: 2em;
}
.navbar-nav > li {
    margin-left: 8px;
}

.navbar-nav1 > li {
    margin-left: 8px;
}

}

@media (max-width: 1024px){
}
@media (max-width: 991px){
	
	.nav > li > a {
    padding: 10px 8px !important;
}
.navbar-default .navbar-nav > li > a {
    font-size: 14px;
}
.nav > li > a {
    padding: 10px 2px !important;
}
.navbar-nav > li {
    margin-left: 5px;
}
.navbar {
    min-height: 43px;
}


	.nav1 > li > a {
    padding: 10px 8px !important;
}
.navbar-default1 .navbar-nav1 > li > a {
    font-size: 14px;
}
.nav1 > li > a {
    padding: 10px 2px !important;
}
.navbar-nav1 > li {
    margin-left: 5px;
}
.navbar1 {
    min-height: 43px;
}

}
  @media (max-width:800px){
}
@media (max-width: 768px){
	

.top-brands {
    padding: 3em 0;
}

.grid_3.grid_5 {
    margin-top: 3em;
}
}

@media (max-width: 480px){
	
	.top-brands h2, .newproducts-w3agile h3, .login h2, .register h2, .faq-w3agile h3, .brands h3 {
    font-size: 1.7em;
}
	.grid_3.grid_5 h5 {
    font-size: 18px;
}
.nav-tabs>li>a {
    font-size: 14px;
}
.nav-tabs1>li>a {
    font-size: 14px;
}
}

@media (max-width: 320px){
	.top-brands h2, .newproducts-w3agile h3, .login h2, .register h2, .faq-w3agile h3, .brands h3 {
    font-size: 1.4em;
}

.top-brands {
    padding: 2em 0;
}
.grid_3.grid_5 {
    margin-top: 2em;
}
div#myTabContent {
    padding: 20px 20px;
}
}
  
  
  /****end***/

  
/**********************media 768 *****************/

	.topimg  img{
		
		width:50%;
		text-align:center;
	}
.topimg {
		
		text-align:center;
	}
	
.topimg-new  img{
		
		width:50%;
		text-align:center;
	}
.topimg-new  {
		
		text-align:center;
	}
/**********************media 520 *****************/

@media only screen and (max-width: 520px)
{
	.topimg  img{
		
		width:50%;
		text-align:center;
	}
	.topimg {
		
		text-align:center;
	}
	.logo img
	{
		width:100%;
		padding-top:4px;
	}
	.social img{
		max-width:100%;
	}
	 .instruments p
  {
  font-size:24px;
  color:#000;
  }
  
  	 .Drums_and_bass p
  {
  font-size:24px;
  color:#000;
  }
  
  .Pearl_Drum-text
  {
	  font-size:14px;
  }
    .Pearl_Drum-text_home
  {
	  font-size:18px;
  }
  .delete img {
    float: right;
    width: 22px;
}

  .Pearl_Drum {
    padding-bottom: 6px;
    text-align: left;
    font-weight: 600;
    padding-left: 15px !important;
}

  
   .Drums_Percussion p
  {
  font-size:24px;
  color:#000;
  }
   .topimg p
  {
  color:#000;
 font-size:14px;
  text-align:center;
      padding-bottom: 20px;
  }
  .close img
  {
	  padding-top:20px;
  }
  .available_1
{
padding-top:20px;
	padding-bottom:20px;
    border-top: 15px solid #f2f2f2;

}
  .Favourite_list
  {
	  font-size:18px;
	   padding-top:10px;
  }
  
    .Favourite_list_delivery
  {
	  font-size:18px;
	   padding-top:10px;
  }
    .Pearl
  {
	  padding-top:20px;
	  padding-bottom:20px;
  }
  .add_to_card
  {
	  font-size:12px;
  }
.add_to_card_color
{
	font-size:12px;
}
.grad1
  {
	  font-size:12px;
  }
  .short-product
{
	    border: 1px solid #838383;
		color: #000;
		padding-top: 10px;
		padding-bottom: 10px;
		text-align:center;
			margin-bottom:20px;
}
.filter {
    border: 1px solid #838383;
    color: #000;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
		margin-bottom:20px;
}
.Drums_and_bass_top
  {
	  padding-bottom:20px;
  }
  .Electric {
    margin-bottom: 10px;
}
.img-responsive
{
	width:70%;
}
 .stock_delivery
  {
	   font-size:14px;
	  color:#2d8f1f;
  }
  .delivery_free
{
	font-size:14px;
	font-weight:600;
	color:#2d8f1f;
	padding-top: 50px;
}
  
    .Pearl_Drum_delivery {
    padding-bottom: 6px;
    text-align: left;
    font-weight: 600;
    padding-left: 15px !important;
	padding-top: 45px;
}
.Pearl_Drum_home
{
	font-size:18px;
}
.Pearl_Drum_border
{
	border-right:2px solid #dadada;
}
.change_address
{
	padding-top:40px;
	color:#cc0028;
	padding-left: 10px;
}
.Door_delivery_home
{
	font-size:12px;
	padding-right:20px;
	
}
.Door_delivery
{
	font-size:12px;
}

 
.reg bdo {
    float: left;
    margin-bottom: 10px;
    position: relative;
    width: 50%;
}
.reg bdo input[type="radio"] {
    cursor: pointer;
    opacity: 0;
    position: relative;
    z-index: 999996;
}
.reg bdo span {
    border: 1px solid red;
    border-radius: 100%;
   /* background: rgba(0, 0, 0, 0) url("../images/radio_btn.png") no-repeat scroll center bottom;*/
    cursor: pointer;
    left: -2px;
    padding: 8px;
    position: absolute;
    top: 5px;
    z-index: 0;
}
.reg bdo span:hover {
    border: 1px solid black;
   /* background: rgba(0, 0, 0, 0) url("../images/radio_btn_ho.png") no-repeat scroll center bottom;*/
}
.reg bdo input[type="radio"]:checked + span {
   /* background: rgba(0, 0, 0, 0) url("../images/radio_btn_ho.png") no-repeat scroll center bottom;*/
}
.reg bdo input[type="radio"]:checked + span::after {
    background: #000 none repeat scroll 0 0;
    border-radius: 100%;
    bottom: 0;
    content: " ";
    height: 8px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 8px;
}
}

/**********************media 425 *****************/

@media only screen and (max-width: 425px)
{
	 .instruments p
  {
  font-size:16px;
  color:#000;
  }
  
  	 .Drums_and_bass p
  {
  font-size:16px;
  color:#000;
  }
  
  .container-fluid {
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}
	.Browse {
    padding-bottom: 18px;
    padding-top: 45px;
}
	.Browse_menu {
    padding-bottom: 18px;
    padding-top: 45px;
}
.Music {
    margin-bottom: 35px;
}
.instruments-top {
    padding-top: 45px;
    padding-bottom: 11px;
}


.video {
    padding-top: 35px;
    padding-bottom: 37px;
}
.delivery {
    padding-top: 35px;
    padding-bottom: 37px;
}

.find-stores {
    padding-bottom: 35px;
}
.blog {
    padding-top: 40px;
    padding-bottom: 30px;
}
.form {
    padding-top: 30px;
    padding-bottom: 30px;
}
.buy-now
{
	    margin-top: 25px;
}

.add-to-car
{
	    margin-top: 25px;
}

.Product-details
{

	margin-bottom:25px;
}

.Specifications
{
	margin-bottom:25px;
}
  .Similar-products
  {
	  padding-top:30px;
	  padding-bottom:11px;
  }
   .Reviews
  {
	  padding-top:35px;
  }
   .Reviews p {
	   padding-bottom:40px;
  }
  .Reviews-Jetendra
  {
	  padding-bottom:27px;
  }
  .rating
{
	padding-top:20px;
}
.More-Reviews
{
	padding-top:40px;
		padding-bottom:62px;
}
.Mapex h3
{
	font-size:20px;
}

.img-reviews
{
	padding-top:20px;
	padding-bottom:22px;
}
.find-stores-Detail
{
	padding-top:50px;
}
.move_to
{
	font-size:12px;
}


}